<template>
    <div class="feedback-wrap">
        <div class="feedback-form row" v-if="!postComplete">
            <form class="col-md-8 col-xs-12" :class="{'col-md-push-2': formData.mailTo!='egwhelp@whiteestate.org'}">
                <div class="row form-group" :class="{error: validation.hasError('formData.name')}">
                    <label class="col-lg-2 col-md-3 col-xs-12">Your Name:</label>
                    <div class="col-lg-10 col-md-9 col-xs-12">
                        <input type="text" class="form-control" v-model="formData.name">
                    </div>
                    <div class="error-message col-lg-10 col-md-9 col-xs-12 col-lg-push-2 col-md-push-3">
                        {{ validation.firstError('formData.name') }}
                    </div>
                </div>

                <div class="row form-group" :class="{error: validation.hasError('formData.email')}">
                    <label class="col-lg-2 col-md-3 col-xs-12">Your e-mail:</label>
                    <div class="col-lg-10 col-md-9 col-xs-12">
                        <input type="text" class="form-control" v-model="formData.email">
                    </div>
                    <div class="error-message col-lg-10 col-md-9 col-xs-12 col-lg-push-2 col-md-push-3">
                        {{ validation.firstError('formData.email') }}
                    </div>
                </div>

                <div class="row form-group" :class="{error: validation.hasError('formData.language')}">
                    <label class="col-lg-2 col-md-3 col-xs-12">Language:</label>
                    <div class="col-lg-10 col-md-9 col-xs-12">
                        <select class="form-control" v-model="formData.language">
                            <option v-for="item in languages" :value="item">{{ item }}</option>
                        </select>
                    </div>
                    <div class="error-message col-lg-10 col-md-9 col-xs-12 col-lg-push-2 col-md-push-3">
                        {{ validation.firstError('formData.language') }}
                    </div>
                </div>

                <div class="row form-group" :class="{error: validation.hasError('formData.mailTo')}">
                    <label class="col-lg-2 col-md-3 col-xs-12">Type:</label>
                    <div class="col-lg-10 col-md-9 col-xs-12">
                        <select class="form-control" v-model="types.typeLvl1">
                            <option v-for="type in typeLvl1" :value="type.name">{{type.text}}</option>
                        </select>

                        <select class="form-control" v-model="types.typeLvl2" v-if="types.typeLvl1 == 'techSupport'">
                            <option v-for="type in typeLvl2" :value="type.name">{{type.text}}</option>
                        </select>

                        <select class="form-control" v-model="types.typeLvl3" v-if="types.typeLvl2 == 'websites'">
                            <option v-for="type in typeWeb" :value="type.name">{{type.text}}</option>
                        </select>

                        <select class="form-control" v-model="types.typeLvl3" v-if="types.typeLvl2 == 'apps'">
                            <option v-for="type in typeApps" :value="type.name">{{type.text}}</option>
                        </select>

                        <select class="form-control" v-model="types.typeLvl3" v-if="types.typeLvl2 == 'games'">
                            <option v-for="type in typeGames" :value="type.name">{{type.text}}</option>
                        </select>
                    </div>
                    <div class="error-message col-lg-10 col-md-9 col-xs-12 col-lg-push-2 col-md-push-3" v-if="validation.hasError('formData.mailTo')">
                        Select all inputs
                    </div>
                </div>

                <div class="row form-group" :class="{error: validation.hasError('formData.message')}">
                    <label class="col-lg-2 col-md-3 col-xs-12">Message:</label>
                    <div class="col-lg-10 col-md-9 col-xs-12">
                        <textarea class="form-control" v-model="formData.message"></textarea>
                    </div>
                    <div class="error-message col-lg-10 col-md-9 col-xs-12 col-lg-push-2 col-md-push-3">
                        {{ validation.firstError('formData.message') }}
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-xs-12">
                        <input type="submit" class="btn btn-info" value="Send" @click.prevent="submitForm()">
                        <span class="loading-gif" v-if="postInProccess"><img src="/images/loading.gif" alt=""></span>
                    </div>
                </div>

                <div class="row form-group" v-if="postFailed">
                    <div class="post-failed-msg col-xs-12">Sorry. There are some problems on the server so we can't send your message now. Try again latter.</div>
                </div>
            </form>

            <div class="col-md-4 col-xs-12 feedback-questions" v-if="formData.mailTo=='egwhelp@whiteestate.org'">
                <h3 class="feedback-questions__title">General Questions</h3>

                <div class="feedback-questions__item">
                    <div class="feedback-questions__question">Looking for an Ellen White statement?</div>
                    <div class="feedback-questions__answer">Please use the free searchable database of Ellen White’s writings: <a href="http://www.egwwritings.org">http://www.egwwritings.org</a>. Note: The letters and manuscripts of Ellen White are now included in the database</div>
                </div>

                <div class="feedback-questions__item">
                    <div class="feedback-questions__question">Can’t find a quotation attributed to Ellen White?</div>
                    <div class="feedback-questions__answer">It may be “apocryphal.” See a listing of statements mistakenly attributed to Ellen White: <a href="http://www.whiteestate.org/issues/issues.asp#section4">http://www.whiteestate.org/issues/issues.asp#section4</a></div>
                </div>
                
                <div class="feedback-questions__item">
                    <div class="feedback-questions__answer">For frequently-asked questions about Ellen White and responses to her critics, see the “Issues and Answers” section of our Website: <a href="http://www.whiteestate.org/issues/issues.asp">http://www.whiteestate.org/issues/issues.asp</a><br>See also "Messenger of the Lord" and "Ellen G. White and Her Critics": <a href="http://www.whiteestate.org/books/mol/TOC.html">http://www.whiteestate.org/books/mol/TOC.html</a><br><a href="http://www.whiteestate.org/books/egwhc/egwhctoc.html">http://www.whiteestate.org/books/egwhc/egwhctoc.html</a></div>
                </div>
                
                <div class="feedback-questions__item">
                    <div class="feedback-questions__answer">Be sure to search the Digital Resource Center containing answers to thousands of questions previously asked of the White Estate staff: <a href="http://drc.whiteestate.org">http://drc.whiteestate.org</a></div>
                </div>
                
                <div class="feedback-questions__item">
                    <div class="feedback-questions__answer">For CD-ROM inquiries, please visit: <a href="http://www.whiteestate.org/cdrom/cdrom.asp">http://www.whiteestate.org/cdrom/cdrom.asp</a><br>or send mail to <a href="mailto:CD-Help@WhiteEstate.org">CD-Help@WhiteEstate.org</a></div>
                </div>
                
                <div class="feedback-questions__item">
                    <div class="feedback-questions__answer">For questions related to the “Thought for the Day” or “Daily Devotional,” send mail to <a href="mailto:egwhelp@WhiteEstate.org">egwhelp@WhiteEstate.org</a></div>
                </div>
                
                <div class="feedback-questions__item">
                    <div class="feedback-questions__answer">To purchase Ellen White books, please visit: <a href="http://www.AdventistBookCenter.com">http://www.AdventistBookCenter.com</a></div>
                </div>
                
                <div class="feedback-questions__item">
                    <div class="feedback-questions__answer">The White Estate does not receive funding to provide free print copies of her books, but her published works may be accessed online on our Website’s home page.</div>
                </div>
                
                <div class="feedback-questions__item">
                    <div class="feedback-questions__answer">For contact information about our Branch Offices or SDA-EGW Research Centers, see: <a href="http://www.whiteestate.org/about/estate.asp#branchoffices">http://www.whiteestate.org/about/estate.asp#branchoffices</a></div>
                </div>
                
                <div class="feedback-questions__item">
                    Other helpful Website links:
                    <ul class="feedback-questions__list">
                        <li>Adventist Heritage Ministry: <a href="http://www.adventistheritage.org">http://www.adventistheritage.org</a></li>
                        <li>Center for Adventist Research: <a href="http://www.centerforadventistresearch.org">http://www.centerforadventistresearch.org</a></li>
                        <li>Biblical Research Institute: <a href="http://www.adventistbiblicalresearch.org">http://www.adventistbiblicalresearch.org</a></li>
                        <li>General Conference - Office of Archives and Statistics: <a href="http://www.adventistarchives.org">http://www.adventistarchives.org</a></li>
                        <li>PlusLine: <a href="http://www.plusline.org">http://www.plusline.org</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="feedback-complete-message row" v-if="postComplete">
            Thank you for your email.  If you are requesting assistance, please review the information below regarding available resources.  Although each message will be read and we will respond to many, we regret that we are unable to respond personally to every email received due to the high volume of inquiries sent to our office from around the world.
        </div>
    </div>
</template>

<script>

    export default {
        props: ['typeFromUrl'],

        data() {
            return {
                postComplete: false,
                postInProccess: false,
                postFailed: false,
                formData: {
                    name: '',
                    email: '',
                    mailTo: '',
                    language: '',
                    message: ''
                },
                languages: ['English','German','Russian','Spanish'],
                types: {
                    typeLvl1: '',
                    typeLvl2: '',
                    typeLvl3: ''
                },
                typeLvl1: [
                    {
                        name: 'general',
                        text: 'General Questions',
                        hasChild: false
                    },
                    {
                        name: 'theologic',
                        text: 'Theological Questions',
                        hasChild: false
                    },
                    {
                        name: 'visitorsCenter',
                        text: 'Visitor Center',
                        hasChild: false
                    },
                    {
                        name: 'techSupport',
                        text: 'Tech Support',
                        hasChild: true
                    },                    
                ],
                typeLvl2: [
                    {
                        name: 'websites',
                        text: 'Websites',
                        hasChild: true
                    },
                    {
                        name: 'apps',
                        text: 'Apps',
                        hasChild: true
                    },
                    {
                        name: 'games',
                        text: 'Games',
                        hasChild: true
                    },
                    {
                        name: 'legacyCD',
                        text: 'EGW Writings CD-ROM for Folio Views (Mac/PC)',
                        hasChild: false
                    },
                ],
                typeWeb: [
                    {
                        name: 'webWritings',
                        text: 'EGWWritings.org',
                        hasChild: false
                    },
                    {
                        name: 'webEllenWhite',
                        text: 'EllenWhite.org',
                        hasChild: false
                    },
                ],
                typeApps: [
                    {
                        name: 'appWritingsAndroid',
                        text: 'EGWWritings Android App',
                        hasChild: false
                    },
                    {
                        name: 'appWritingsIos',
                        text: 'EGWWritings iOS App',
                        hasChild: false
                    },
                    {
                        name: 'appWritingsWin',
                        text: 'EGWWritings Windows App',
                        hasChild: false
                    },
                    {
                        name: 'appWritingsMac',
                        text: 'EGWWritings MacOS App',
                        hasChild: false
                    },
                ],
                typeGames: [
                    {
                        name: 'gamePitcairnAndroid',
                        text: 'Pitcairn Game for Android',
                        hasChild: false
                    },
                    {
                        name: 'gameSaysAndroid',
                        text: 'Ellen White Says Game for Android',
                        hasChild: false
                    },
                    {
                        name: 'gamePitcairnIos',
                        text: 'Pitcairn Game for iOS',
                        hasChild: false
                    },
                    {
                        name: 'gameSaysIos',
                        text: 'Ellen White Says Game for iOS',
                        hasChild: false
                    },
                    {
                        name: 'gamePitcairnWin',
                        text: 'Pitcairn Game for Windows',
                        hasChild: false
                    },
                ],
                emailTo: [
                    {
                        name: 'general',
                        email: 'egwhelp@whiteestate.org'
                    },
                    {
                        name: 'theologic',
                        email: 'mail@whiteestate.org'
                    },
                    {
                        name: 'visitorsCenter',
                        email: 'visit@whiteestate.org'
                    },
                    {
                        name: 'webWritings',
                        email: 'egwwritings@ellenwhite.org'
                    },
                    {
                        name: 'webEllenWhite',
                        email: 'mail@whiteestate.org'
                    },
                    {
                        name: 'appWritingsWin',
                        email: 'windows@ellenwhite.org'
                    },
                    {
                        name: 'appWritingsIos',
                        email: 'ios@ellenwhite.org'
                    },
                    {
                        name: 'appWritingsMac',
                        email: 'macos@ellenwhite.org'
                    },
                    {
                        name: 'appWritingsAndroid',
                        email: 'android@ellenwhite.org'
                    },
                    {
                        name: 'gamePitcairnAndroid',
                        email: 'pitcairn4android@ellenwhite.org'
                    },
                    {
                        name: 'gameSaysAndroid',
                        email: 'egwsays4android@ellenwhite.org'
                    },
                    {
                        name: 'gamePitcairnIos',
                        email: 'pitcairn4ios@ellenwhite.org'
                    },
                    {
                        name: 'gameSaysIos',
                        email: 'egwsays4ios@ellenwhite.org'
                    },
                    {
                        name: 'gamePitcairnWin',
                        email: 'pitcairn4windows@ellenwhite.org'
                    },
                    {
                        name: 'legacyCD',
                        email: 'cd-help@whiteestate.org'
                    }                 
                ]
            };
        },

        validators: {
            'formData.name': function(value){
                return SimpleVueValidation.Validator.value(value).required().regex('^[A-Za-z]*$');
            },
            'formData.email': function(value){
                return SimpleVueValidation.Validator.value(value).required().email();
            },
            'formData.mailTo': function(value){
                return SimpleVueValidation.Validator.value(value).required();
            },
            'formData.message': function(value){
                return SimpleVueValidation.Validator.value(value).required();
            }
        },

        methods: {
            submitForm: function(){
                this.$validate().then( success => {
                    if (success) {
                        this.postInProccess = true;
                        
                        this.$http.post('/contact-us/post', {
                            params: this.formData
                        }).then(response => {
                            this.postComplete = true;
                            this.postInProccess = false;
                            this.postFailed = false;
                            console.log('Post succeeded');
                        }, reject => {
                            this.postInProccess = false;
                            this.postFailed = true;
                            console.error('Post failed', reject);                                
                        });
                    }
                });
            },
            changeType: function(){
                this.formData.mailTo = '';

                if(this.types.typeLvl1 != '' && this.types.typeLvl1 != undefined){
                    let select1 = _.find(this.typeLvl1, obj => {
                        return obj.name == this.types.typeLvl1;
                    });

                    if(select1 && !select1.hasChild){
                        this.formData.mailTo = _.find(this.emailTo, obj => {
                            return obj.name == select1.name;
                        }).email;
                        this.types.typeLvl2 = '';
                        this.types.typeLvl3 = '';
                    } else {
                        this.formData.mailTo = '';

                        if(this.types.typeLvl2 != '' && this.types.typeLvl2 != undefined){
                            let select2 = _.find(this.typeLvl2, obj => {
                                return obj.name == this.types.typeLvl2;
                            });

                            if(select2 && !select2.hasChild){
                                this.formData.mailTo = _.find(this.emailTo, obj => {
                                    return obj.name == select2.name;
                                }).email;
                                this.types.typeLvl3 = '';
                            } else {
                                this.formData.mailTo = '';

                                if(this.types.typeLvl3 != '' && this.types.typeLvl3 != undefined){
                                    var select3;
                                    if(this.types.typeLvl2 == 'websites'){
                                        select3 = _.find(this.typeWeb, obj => {
                                            return obj.name == this.types.typeLvl3;
                                        });
                                    } else if(this.types.typeLvl2 == 'apps'){
                                        select3 = _.find(this.typeApps, obj => {
                                            return obj.name == this.types.typeLvl3;
                                        });
                                    } else if(this.types.typeLvl2 == 'games'){
                                        select3 = _.find(this.typeGames, obj => {
                                            return obj.name == this.types.typeLvl3;
                                        });
                                    } else if(this.types.typeLvl2 == 'legacyCD'){
                                        select3 = _.find(this.typeLegacy, obj => {
                                            return obj.name == this.types.typeLvl3;
                                        });
                                    }

                                    if(select3){
                                        this.formData.mailTo = _.find(this.emailTo, obj => {
                                            return obj.name == select3.name;
                                        }).email;    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        watch: {
            types: {
                handler: function(newVal, oldVal){ this.changeType(); },
                deep: true
            }
        },

        mounted() {
            var selectedTypeName;
            var newTypes = {
                typeLvl1: '',
                typeLvl2: '',
                typeLvl3: '',
            };

            _.each(this.emailTo, (val, key) => {
                if (val.name == this.typeFromUrl) {
                    this.formData.mailTo = val.email;
                    selectedTypeName = val.name;
                }
            });

            if(!selectedTypeName){
                return false;
            }

            _.each(this.typeLvl1, (val, key) => {
                if (val.name == selectedTypeName) {
                    newTypes.typeLvl1 = val.name;
                }
            });

            if(!newTypes.typeLvl1){
                newTypes.typeLvl1 = 'techSupport';

                _.each(this.typeLvl2, (val, key) => {
                    if (val.name == selectedTypeName) {
                        newTypes.typeLvl2 = val.name;
                    }
                });

                if(!newTypes.typeLvl2){
                    _.each(this.typeWeb, (val, key) => {
                        if (val.name == selectedTypeName) {
                            newTypes.typeLvl3 = val.name;
                            newTypes.typeLvl2 = 'websites';
                        }
                    });
                }
                if(!newTypes.typeLvl2){
                    _.each(this.typeApps, (val, key) => {
                        if (val.name == selectedTypeName) {
                            newTypes.typeLvl3 = val.name;
                            newTypes.typeLvl2 = 'apps';
                        }
                    });
                }
                if(!newTypes.typeLvl2){
                    _.each(this.typeGames, (val, key) => {
                        if (val.name == selectedTypeName) {
                            newTypes.typeLvl3 = val.name;
                            newTypes.typeLvl2 = 'games';
                        }
                    });
                }
                if(!newTypes.typeLvl2){
                    _.each(this.typeLegacy, (val, key) => {
                        if (val.name == selectedTypeName) {
                            newTypes.typeLvl3 = val.name;
                            newTypes.typeLvl2 = 'legacyCD';
                        }
                    });
                }
            }

            this.types = newTypes;
        }
    }
</script>