<template>
    <div id="news-page" class="news-page">
        <div class="entities-filters clearfix">
            <div class="entities-filters__amount">
                Show
                <select class="form-control" v-model="pager.perPage">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                </select>
                entries
            </div>

            <div class="entities-filters__view-mode">
                <div class="entities-filters__view-mode-item pile" :class="{ active: viewMode=='pile' }" @click="viewMode = 'pile'">
                    <i class="glyphicon glyphicon-th"></i>
                </div>
                <div class="entities-filters__view-mode-item list" :class="{ active: viewMode=='list' }" @click="viewMode = 'list'">
                    <i class="glyphicon glyphicon-th-list"></i>
                </div>
            </div>
        </div>

        <div class="entities-search">
            <input type="text" class="form-control" v-model="search.query" placeholder="Search for news">
        </div>

        <div
            v-if="!emptyNewsList"
            class="entities-list"
            :class="viewMode">
            <div class="preloader" v-if="isLoading"></div>

            <div class="entities-item clearfix" v-for="item in news">
                <div class="entities-item__avatar">
                    <a :href="'news/'+item.id"><img :src="item.thumbnail" :alt="item.title"></a>
                </div>
                <div class="entities-item__name"><a :href="'news/'+item.id">{{item.title}}</a></div>
            </div>
        </div>

        <div class="entities-pagination text-center">
            <pagination
                :total="pager.total"
                :offset="pager.offset"
                :perPage="pager.perPage"
                @page-changed="val => pager.offset = val"
            ></pagination>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                isLoading: false,
                requestId: null,
                viewMode: 'list',
                search: {
                    query: ''
                },
                news: [],
                pager: {
                    total: 0,
                    perPage: 25,
                    offset: 0
                }
            };
        },

        computed: {
            emptyNewsList: function(){
                if(this.news == null || this.news.length == 0){
                    return true;
                } else {
                    return false;
                };
            }
        },

        methods: {
            runSearch: _.debounce(function () {
                this.getNews();
            }, 400),

            getNews: function(){
                this.isLoading = true;
                let requestId = this.requestId = Math.random();

                this.$apollo.query({
                    query: gpl`query newsCollection($take: Int!, $skip: Int!, $title: String!) {
                        newsCollection(take: $take, skip: $skip, title: $title) {
                            total
                            items {
                                id
                                title
                                thumbnail
                            }
                        }
                    }`,
                    variables: {
                        take: this.pager.perPage,
                        skip: this.pager.offset,
                        title: this.search.query
                    }
                }).then( (response) => {
                    if(this.requestId == requestId){
                        this.pager.total = response.data.newsCollection.total;
                        this.news = response.data.newsCollection.items;
                        this.isLoading = false;
                    }
                }, (reject) => {
                    if(this.requestId == requestId){
                        this.isLoading = false;
                    }
                    console.error('Error in Locations collection request', reject);
                });
            },
        },

        mounted() {
            this.getNews();
        },

        watch: {
            'search.query': function(){
                this.runSearch();
            },
            'pager.offset': function(){
                this.getNews();
            },
            'pager.perPage': function(){
                this.getNews();
            },
        },
    }
</script>
