<template>
  <div class="person-viewer preloader-wrap">
    <div class="preloader" v-if="isLoading"></div>
    <div class="search-viewer__inner-error" v-else-if="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="search-viewer__inner" v-else>
      <div class="search-viewer__inner-content">
        <div class="person-viewer__bio-img" v-if="person.avatar && person.avatar.public_path">
          <img :src="person.avatar.public_path" alt="">
        </div>

        <div class="person-viewer__bio-row" v-if="person.position && person.position.degree">
          <label>Degree:</label> {{ person.position.degree }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.position && person.position.institution">
          <label>Institution:</label> {{ person.position.institution }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.gender">
          <label>Gender:</label> {{ person.gender }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.name && person.name.full_name">
          <label>Full name:</label> {{ person.name.full_name }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.name && person.name.first_name">
          <label>First name:</label> {{ person.name.first_name }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.name && person.name.last_name">
          <label>Last name:</label> {{ person.name.last_name }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.name && person.name.maiden_name">
          <label>Maiden name:</label> {{ person.name.maiden_name }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.name && person.name.generic_name">
          <label>Generic name:</label> {{ person.name.generic_name }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.name && person.name.salutation">
          <label>Salutation:</label> {{ person.name.salutation }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.name && person.name.suffix">
          <label>Suffix:</label> {{ person.name.suffix }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.birthday_date">
          <label>Birthday date:</label> {{ person.birthday_date }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.marriage_date">
          <label>Marriage date:</label> {{ person.marriage_date }}
        </div>
        <div class="person-viewer__bio-row" v-if="person.death_date">
          <label>Death date:</label> {{ person.death_date }}
        </div>

        <div class="person-viewer__bio-info" v-if="person.bio">
          <div class="person-viewer__bio-info-content" v-html="person.bio"></div>
        </div>

        <div class="person-viewer__bio-info" v-if="emptyBioInfo">There is no content for this person</div>
      </div>
      <div class="search-viewer__inner-refs">
        <h4>References: </h4>
        <refs-list
          :refs-data="person.loadedReferences"
        ></refs-list>
      </div>
    </div>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    props: {
      item: {},
      item_id: {}
    },
    data() {
      return {
        isLoading: false,
        errorMessage: null,
        person: {}
      }
    },
    computed: {
      emptyBioInfo: function(){
        if(!this.person){
          return true
        } else if(this.person.bio
                  || this.person.sex
                  || (this.person.position && (this.person.position.degree || this.person.position.institution))
                  || (this.person.name && (this.person.name.full_name  || this.person.name.last_name || this.person.name.first_name || this.person.name.maiden_name || this.person.name.middle_name || this.person.name.generic_name || this.person.name.salutation || this.person.name.suffix))
                  || this.person.birthday_date
                  || this.person.death_date
                  || this.person.marriage_date){
          return false
        } else {
          return true
        }
      },
      personId: function(){
        if(this.item) {
          return this.item._id
        } else if(this.item_id){
          return this.item_id
        } else {
          return null
        }
      }
    },
    methods: {
      getPerson: function(){
        this.isLoading = true
        this.person = null
        axios.get(`/people/${this.personId}/data?with[]=references`)
          .then(response => {
            this.isLoading = false
            this.person = response.data
            this.$emit('getReferences', response.data.loadedReferences)
          })
          .catch(error => {
            this.isLoading = false
            this.$emit('getReferences', [])
            this.errorMessage = 'Server error. Cannot get data. For more information check console.'
            console.error('Error in correspondence request', error)
          })
      }
    },
    mounted(){
      this.getPerson()
    },
    watch: {
      'item._id': function(){
        this.getPerson()
      }
    }
  }
</script>
