<template>
  <div class="row spinner-parent">
    <spinner ref="spinner" size="md" text="Loading ..."></spinner>

    <div v-if="source" class="col-12">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h1 v-once>{{ source.title }}</h1>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card-header">
          <strong>General</strong>
        </div>
        <div class="card form-horizontal">
          <div class="row">
            <div class="col-12">
              <div class="card-block">
                <div class="form-group row">
                  <label for="title" class="col-md-2">Title</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-model="entity.title"
                      placeholder="Enter title"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="full_name" class="col-md-2">Full name</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="full_name"
                      v-model="entity.name.full_name"
                      placeholder="Enter full name"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="first_name" class="col-md-2">First name</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="first_name"
                      v-model="entity.name.first_name"
                      placeholder="Enter first name"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="last_name" class="col-md-2">Last name</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="last_name"
                      v-model="entity.name.last_name"
                      placeholder="Enter last name"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="middle_name" class="col-md-2">Middle name</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="middle_name"
                      v-model="entity.name.middle_name"
                      placeholder="Enter middle name"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="maiden_name" class="col-md-2">Maiden name</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="maiden_name"
                      v-model="entity.name.maiden_name"
                      placeholder="Enter maiden name"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="generic_name" class="col-md-2">Generic name</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="generic_name"
                      v-model="entity.name.generic_name"
                      placeholder="Enter generic name"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="salutation" class="col-md-2">Salutation name</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="salutation"
                      v-model="entity.name.salutation"
                      placeholder="Enter salutation"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="gender" class="col-md-2">Gender</label>
                  <div class="col-md-10">
                    <select class="form-control" id="gender" v-model="entity.gender">
                      <option :value="item" v-for="(item, index) in genderOptions">{{ index }}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="gender" class="col-md-2">Birthday date</label>
                  <div class="col-md-10">
                    <datepicker
                      v-if="entity.hasOwnProperty('birthday_date')"
                      v-model="entity.birthday_date"
                      format="dd/MM/yyyy"
                    ></datepicker>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="gender" class="col-md-2">Death date</label>
                  <div class="col-md-10">
                    <datepicker
                      v-if="entity.hasOwnProperty('death_date')"
                      v-model="entity.death_date"
                      format="dd/MM/yyyy"
                    ></datepicker>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="gender" class="col-md-2">Marriage date</label>
                  <div class="col-md-10">
                    <datepicker
                      v-if="entity.hasOwnProperty('marriage_date')"
                      v-model="entity.marriage_date"
                      format="dd/MM/yyyy"
                    ></datepicker>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="degree" class="col-md-2">Academic degree</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="degree"
                      v-model="entity.position.degree"
                      placeholder="Enter academic degree"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="institution" class="col-md-2">Institution</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="institution"
                      v-model="entity.position.institution"
                      placeholder="Enter institution"
                      class="form-control">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="bio" class="col-md-2">Bio</label>
                  <div class="col-md-10">
                    <ckeditor v-model="entity.bio" id="bio"></ckeditor>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="bio" class="col-md-2">Thumbnail</label>
                  <div class="col-md-10">
                    <image-uploader
                      :uploaded-img-url="imageAbsoluteUrl"
                      @fileUploaded="avatarUploaded"
                      @fileRevert="avatarRevert"
                    ></image-uploader>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 mb-5">
        <button class="btn btn-success" @click="save">Save <span class="btn-loader" style="display: none;"></span></button>

        <div class="saving-alerts" style="margin-top: 20px;">
          <div class="alert alert-success" style="display: none;">Data saved successful!</div>
          <div class="alert alert-danger" style="display: none;">Error in data saving</div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</template>

<script>

  import gql from 'graphql-tag'
  import _ from 'lodash'
  import $ from 'jquery'

  export default {
    name: 'person_edit',
    data () {
      return {
        genderOptions: {
          none: null,
          male: 1,
          female: 0
        },
        source: null,
        entity: {},
        avatar: null
      }
    },
    computed: {
      imageAbsoluteUrl: function () {
        if (this.entity && this.entity.avatar && this.entity.avatar.publicPath) {
          return this.$config.app_api.host + '/' + this.entity.avatar.publicPath
        } else {
          return false
        }
      }
    },
    methods: {
      getSource: function () {
        if (this.$refs.spinner) { this.$refs.spinner.show() }
        this.$apollo.query({
          query: gql`query person($id: Int!) {
            person(id: $id) {
              id
              title
              bio
              gender
              birthday_date
              death_date
              marriage_date
              position {
                degree
                institution
              }
              name {
                full_name
                last_name
                first_name
                middle_name
                maiden_name
                generic_name
                salutation
                search
              }
              avatar{
                id
                file_name
                public_path
              }
            }
          }`,
          variables: {
            id: this.$route.params.id
          }
        }).then((response) => {
          this.source = response.data.person
          this.entity = _.cloneDeep(response.data.person)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        }, (reject) => {
          console.error(reject)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        })
      },
      saveRequest: function () {
        if (this.avatar) {
          return this.$apollo.provider.clients.secret.mutate({
            mutation: gql`
              mutation($personUpdateInput: PersonUpdateInput!) {
                personUpdate(person: $personUpdateInput) {
                  title
                }
              }`,
            variables: {
              personUpdateInput: {
                id: this.$route.params.id,
                title: this.entity.title,
                bio: this.entity.bio,
                birthday_date: this.entity.birthday_date,
                death_date: this.entity.death_date,
                marriage_date: this.entity.marriage_date,
                name: {
                  search: this.entity.name.search,
                  display: this.entity.name.display,
                  full_name: this.entity.name.full_name,
                  last_name: this.entity.name.last_name,
                  first_name: this.entity.name.first_name,
                  maiden_name: this.entity.name.maiden_name,
                  middle_name: this.entity.name.middle_name,
                  generic_name: this.entity.name.generic_name,
                  salutation: this.entity.name.salutation
                },
                position: {
                  degree: this.entity.position.degree,
                  institution: this.entity.position.institution
                },
                avatar: {
                  temp_filename: this.avatar.temp_filename,
                  origin_filename: this.avatar.origin_filename,
                  origin_type: this.avatar.origin_type,
                  origin_size: this.avatar.origin_size
                }
              }
            }
          })
        } else {
          return this.$apollo.provider.clients.secret.mutate({
            mutation: gql`
              mutation($personUpdateInput: PersonUpdateInput!) {
                personUpdate(person: $personUpdateInput) {
                  title
                }
              }`,
            variables: {
              personUpdateInput: {
                id: this.$route.params.id,
                title: this.entity.title,
                bio: this.entity.bio,
                birthday_date: this.entity.birthday_date,
                death_date: this.entity.death_date,
                marriage_date: this.entity.marriage_date,
                name: {
                  search: this.entity.name.search,
                  display: this.entity.name.display,
                  full_name: this.entity.name.full_name,
                  last_name: this.entity.name.last_name,
                  first_name: this.entity.name.first_name,
                  maiden_name: this.entity.name.maiden_name,
                  middle_name: this.entity.name.middle_name,
                  generic_name: this.entity.name.generic_name,
                  salutation: this.entity.name.salutation
                },
                position: {
                  degree: this.entity.position.degree,
                  institution: this.entity.position.institution
                }
              }
            }
          })
        }
      },
      save: function () {
        $('.btn-success .btn-loader').show()
        this.saveRequest().then((response) => {
          $('.btn-success .btn-loader').hide()
          $('.saving-alerts .alert-success').show()
          setTimeout(function () { $('.saving-alerts .alert').hide() }, 5000)
        }, (error) => {
          console.error('Error in person update migration', error)
          $('.btn-success .btn-loader').hide()
          $('.saving-alerts .alert-danger').show()
          setTimeout(function () { $('.saving-alerts .alert').hide() }, 5000)
        })
      },
      avatarUploaded: function (file) {
        this.avatar = file
      },
      avatarRevert: function () {
        this.avatar = null
      }
    },
    mounted () {
      this.getSource()
    }
  }
</script>
