<template>
  <div class="audio-uploader">
    
  </div><!--/.row-->
</template>

<script>
  // import $ from 'jquery'

  export default {
    name: 'audio_uploader',
    props: ['uploadedAudio'],
    data () {
      return {
        newUploadedAudio: null
      }
    },
    methods: {},
    mounted () {
      console.log('mounted')
    }
  }
</script>

<style>
  
</style>
