<template>
  <div class="pdf-uploader">
    <dropzone
      v-if="options"
      id="pub-pdf"
      ref="dropzone"
      :options="options"
      @vdropzone-success="fileUploadedSuccess"
      @vdropzone-removed-file="fileRemoved"
    ></dropzone>
    <div v-else>Dropzone can't work without upload url.</div>
  </div>
</template>

<script>
  import Dropzone from 'vue2-dropzone'
  import 'vue2-dropzone/dist/vue2Dropzone.css'

  export default {
    name: 'pdf_uploader',
    components: {
      dropzone: Dropzone
    },
    props: {
      uploadedFile: {
        default: null
      },
      options: {
        default: null
      }
    },
    data () {
      return {
        newUploadedPdf: null
      }
    },
    methods: {
      fileUploadedSuccess: function () {
        console.log('fileUploadedSuccess', this.$refs.dropzone.dropzone)
        this.$emit('uploadSuccess', this.$refs.dropzone.dropzone.files)
      },
      fileRemoved: function () {
        console.log('fileRemoved', this.$refs.dropzone.dropzone)
        this.$emit('fileRemoved', this.$refs.dropzone.dropzone.files)
      },
      drawUploadedPdf: function () {
        this.$refs.dropzone.manuallyAddFile(this.uploadedFile.file, this.uploadedFile.url)
      }
    },
    mounted () {
      if (this.uploadedFile != null) { this.drawUploadedPdf() }
    }
  }
</script>

<style>
  .dropzone .dz-preview .dz-details {
    opacity: 1;
  }
  .dropzone .dz-image {
    opacity: 0;
  }
</style>
