<template>
    <div id="locations-page" class="locations-page">
        <div class="row">
            <div class="col-md-3">
                <div id="branch-viewer" v-if="viewingObj">
                    <a class="" href="#" role="button" @click="showAllMap()"><span class="fa fa-arrow-left"></span> Back to list</a>

                    <h3>{{ viewingObj.title }}</h3>

                    <div class="branch-email" v-if="viewingObj.address.country">
                        <span><b>Country:</b> {{ viewingObj.address.country }}</span>
                    </div>
                    <div class="branch-email" v-if="viewingObj.address.locality">
                        <span><b>Locality:</b> {{ viewingObj.address.locality }}</span>
                    </div>
                    <div class="branch-email" v-if="viewingObj.address.organisation_name">
                        <span><b>Organisation name:</b> {{ viewingObj.address.organisation_name }}</span>
                    </div>
                    <div class="branch-email" v-if="viewingObj.address.postal_code">
                        <span><b>Postal code:</b> {{ viewingObj.address.postal_code }}</span>
                    </div>
                    <div class="branch-email" v-if="viewingObj.address.thoroughfare">
                        <span><b>Thoroughfare:</b> {{ viewingObj.address.thoroughfare }}</span>
                    </div>

                    <!-- <div v-if="viewingObj.referencing && viewingObj.referencing.length">
                        <hr>
                        <h4>References by {{ viewingObj.title }}:</h4>
                        <ul style="padding-left: 20px;">
                            <li v-for="item in viewingObj.referencing">{{item.title}}</li>
                        </ul>
                    </div>

                    <div v-if="viewingObj.referenced && viewingObj.referenced.length">
                        <hr>
                        <h4>References from {{ viewingObj.title }}:</h4>
                        <ul style="padding-left: 20px;">
                            <li v-for="item in viewingObj.referenced">{{item.title}}</li>
                        </ul>
                    </div> -->
                </div>

                <div class="contacts-lists" v-else-if="entries">
                    <div class="preloader-wrap">
                        <div class="preloader" v-if="isLoading"></div>
                        <div class="panel panel-default">
                            <div class="panel-heading locations-search">
                                <input type="text" class="form-control" v-model="search.query" placeholder="Search for location">

                                <div class="locations-adv-search__toogle" data-toggle="collapse" data-target="#advanced-search">Advanced filters <i class="caret"></i></div>

                                <div id="advanced-search" class="locations-adv-search-wrap collapse">
                                    <div class="form-group">
                                        <label>
                                            <input type="checkbox" v-model="search.correctGeo"> locations with known coordinates
                                        </label>
                                    </div>

                                    <div class="form-group">
                                        Result count
                                        <select class="form-control" v-model="pager.perPage">
                                            <option v-for="item in pager.perPageOptions" :value="item">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <a
                                    v-for="place in entries"
                                    :href="'#' + (place.id)"
                                    :key="place.id"
                                    :data-id="place.id"
                                    @click="showPlace(place)">{{ place.title }}</a>
                            </div>
                        </div>

                        <pagination
                            :total="pager.total"
                            :offset="pager.offset"
                            :perPage="pager.perPage"
                            :pageRange="pager.pageRange"
                            :offPrevNext="pager.offPrevNext"
                            @page-changed="val => pager.offset = val"
                        ></pagination>
                    </div>
                </div>
                <div v-else>
                    <span>There are no available locations in your request</span>
                </div>
            </div>

            <div class="col-md-9">
                <gmap-map
                    id="locations-map"
                    :center="mapData.center"
                    :zoom="mapData.zoom"
                    style="width: 100%; height: 700px"
                >
                    <gmap-marker
                        v-for="item in entries"
                        v-if="item.geocode && item.geocode.lat && item.geocode.lng"
                        :id="'location-map-marker-'+item.id"
                        :key="item.id"
                        :data-id="item.id"
                        :position="item.geocode"
                        :title="item.title"
                        :clickable="true"
                        :draggable="false"
                        :icon="item.marker"
                        :zIndex="item.zIndex"
                        @click="showPlace(item)"
                    ></gmap-marker>

                    <gmap-marker
                        v-if="viewingObj && viewingObj.geocode && viewingObj.geocode.lat && viewingObj.geocode.lng"
                        :id="'location-map-marker-'+viewingObj.id"
                        :key="viewingObj.id"
                        :data-id="viewingObj.id"
                        :position="viewingObj.geocode"
                        :title="viewingObj.title"
                        :clickable="true"
                        :draggable="false"
                        :icon="viewingObj.marker"
                    ></gmap-marker>
                </gmap-map>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                markers: {
                    default: {url: '/images/marker--blue.png'},
                    hover: {url: '/images/marker--red.png'}
                },
                isLoading: false,
                requestId: null,

                search: {
                    query: '',
                    correctGeo: true,
                },
                pager: {
                    offPrevNext: true,
                    pageRange: 2,
                    total: 0,
                    offset: 0,
                    perPage: 25,

                    perPageOptions: [10,25,50,100]
                },
                entries: [],

                viewingObj: null,

                mapData: {
                    center: {lat: 10.0, lng: 10.0},
                    zoom: 2,
                },
            };
        },

        methods: {
            runSearch: _.debounce(function () {
                this.getLocationList();
            }, 400),
            getLocationList: function(){
                this.isLoading = true;
                this.scrollTop();
                $('.contacts-lists').animate({ scrollTop: 0 }, 0)
                let requestId = this.requestId = Math.random();
                this.$apollo.query({
                    query: gpl`query locationCollection($take: Int!, $skip: Int!, $title: String!, $gecode_is_not_null: Boolean!) {
                        locationCollection(take: $take, skip: $skip, title: $title, gecode_is_not_null: $gecode_is_not_null) {
                            total
                            items {
                                id
                                title
                                geocode {
                                    lat
                                    lon
                                }
                                address {
                                    address
                                    country
                                    locality
                                    postal_code
                                    thoroughfare
                                    organisation_name
                                    dependent_locality
                                }
                            }
                        }
                    }`,
                    variables: {
                        take: this.pager.perPage,
                        skip: this.pager.offset,
                        title: this.search.query,
                        gecode_is_not_null: this.search.correctGeo
                    }
                }).then( (response) => {
                    if(this.requestId == requestId){
                        let newResults = [];
                        _.forEach(response.data.locationCollection.items, (item) => {
                            newResults.push(this.mapingLocation(item));
                        });
                        this.entries = newResults;
                        this.pager.total = response.data.locationCollection.total;
                        this.isLoading = false;
                    }
                }, (reject) => {
                    if(this.requestId == requestId){
                        this.isLoading = false;
                    }
                    console.error('Error in Locations collection request', reject);
                });
            },
            getLocation: function(locId){
                this.$apollo.query({
                    query: gpl`query location($id: Int!) {
                        location(id: $id) {
                            id
                            title
                            geocode{
                                lat
                                lon
                            }
                            address {
                                address
                                country
                                locality
                                postal_code
                                thoroughfare
                                organisation_name
                                dependent_locality
                            }
                        }
                    }`,
                    variables: {
                        id: locId
                    }
                }).then( (response) => {
                    this.showPlace(this.mapingLocation(response.data.location));
                }, (reject) => {
                    console.error('Error in Location request', reject);
                });
            },
            mapingLocation: function(location){
                let newItem = {};
                newItem.id = location.id;
                newItem.title = location.title;
                newItem.address = location.address;
                // newItem.referencing = location.referencing;
                // newItem.referenced = location.referenced;
                if(location.geocode != null){
                    newItem.geocode = {};
                    newItem.geocode.lat = location.geocode.lat;
                    newItem.geocode.lng = location.geocode.lon; // Most important part of mapping
                } else {
                    newItem.geocode = null;
                }
                newItem.marker = this.markers.default;
                newItem.zIndex = 1;
                return newItem;
            },
            showPlace(newPlace) {
                if(newPlace.geocode && newPlace.geocode.lat && newPlace.geocode.lng){
                    this.mapData.center = newPlace.geocode;
                    if(this.mapData.zoom == 17){
                        this.mapData.zoom = 16;
                    } else {
                        this.mapData.zoom = 17;
                    }
                    this.viewingObj = newPlace;
                    window.location.hash = newPlace.id;
                };
            },
            showAllMap(){
                this.mapData.center = {lat: 10.0, lng: 10.0};
                this.mapData.zoom = 2;
                this.viewingObj=null;
                window.location.hash = "";
            },
            scrollTop: function(){
                $('html, body').animate({
                    scrollTop: $('.locations-page').offset().top - $('.main-navbar').height() - $('.egw-main-menu').height() - 10
                }, 250);
            }
        },

        mounted() {
            let self = this;

            if(window.location.hash != '' && window.location.hash.substr(1) > 0){
                this.getLocation(_.toInteger(window.location.hash.substr(1)));
            }
            this.getLocationList();

            document.addEventListener("keydown", e => {
                if(e.keyCode==8 && this.mapData.zoom!=2) {
                    this.showAllMap();
                }
            });

            // Marker changer
            $(document).on('mouseenter', '.contacts-lists .panel-body a', function(event) {
                let itemIndex = $('.contacts-lists .panel-body a').index($(this));
                self.entries[itemIndex].marker = self.markers.hover;
                self.entries[itemIndex].zIndex = 5;
            });
            $(document).on('mouseleave', '.contacts-lists .panel-body a', function(event) {
                let itemIndex = $('.contacts-lists .panel-body a').index($(this));
                self.entries[itemIndex].marker = self.markers.default;
                self.entries[itemIndex].zIndex = 1;
            });
            $(document).on('mouseup', '.contacts-lists .panel-body a', function(event) {
                let itemIndex = $('.contacts-lists .panel-body a').index($(this));
                self.entries[itemIndex].marker = self.markers.default;
                self.entries[itemIndex].zIndex = 1;
            });

            // Scroll to top for mobile
            $(document).on('click', '.contacts-lists .panel-body a', () => {
                this.scrollTop();
            });
        },

        watch: {
            'search.query': function(){
                this.pager.offset = 0;
                this.runSearch();
            },
            'search.correctGeo': function(){
                this.pager.offset = 0;
                this.getLocationList();
            },
            'pager.offset': function(){
                this.getLocationList();
            },
            'pager.perPage': function(){
                this.getLocationList();
            },
        }
    }
</script>
