<template>
    <div class="corr-table-wrap">
        <div class="corr-table__perpage">
            Show
            <select v-model="pager.perPage" class="form-control">
                <option :value="item" v-for="item in itemsPerpage.options">{{ item }}</option>
            </select>
            entries
        </div>

        <div class="table-responsive corr-table-inner">
            <table class="table table-bordered table-striped">
                <div class="preloader" v-if="isLoading"></div>
                <thead>
                    <tr>
                        <th>
                            <div class="corr-table__sort" @click="setSort('title')">
                                <i class="fa fa-sort" :class="{ hidden: sort.by=='title' }"></i>
                                <i class="fa fa-sort-desc" :class="{ hidden: sort.by!='title' || sort.way.value!='desc' }"></i>
                                <i class="fa fa-sort-asc" :class="{ hidden: sort.by!='title' || sort.way.value!='asc' }"></i>
                            </div>
                            <div class="corr-table__col-title">Title</div>
                            <div class="corr-table__col-search">
                                <input type="text" class="form-control" placeholder="Search in column" v-model="columnSearch.title">
                            </div>
                        </th>
                        <th>
                            <div class="corr-table__sort" @click="setSort('date')">
                                <i class="fa fa-sort" :class="{ hidden: sort.by=='date' }"></i>
                                <i class="fa fa-sort-desc" :class="{ hidden: sort.by!='date' || sort.way.value!='desc' }"></i>
                                <i class="fa fa-sort-asc" :class="{ hidden: sort.by!='date' || sort.way.value!='asc' }"></i>
                            </div>
                            <div class="corr-table__col-title">Date</div>
                            <div class="corr-table__col-search">
                                <div class="corr-table__date">
                                    <div class="corr-table__date-shown">
                                        <span v-if="columnSearch.date.start!='' && columnSearch.date.end!=''">
                                            {{ columnSearch.date.start }} - {{ columnSearch.date.end }}
                                        </span>
                                        <span v-else-if="columnSearch.date.start!=''">
                                            {{ columnSearch.date.start }}
                                        </span>
                                        <span v-else-if="columnSearch.date.end!=''">
                                            {{ columnSearch.date.end }}
                                        </span>
                                        <span v-else>Select date</span>
                                    </div>

                                    <div class="corr-table__date-popup hidden">
                                        <div class="input-group input-daterange">
                                            <input type="text" class="form-control date-from" v-model="columnSearch.date.start">
                                            <span class="input-group-addon">to</span>
                                            <input type="text" class="form-control date-to" v-model="columnSearch.date.end">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                        <th>
                            <div class="corr-table__col-title">Receiver</div>
                            <div class="corr-table__col-search">
                                <multiselect-remote
                                    :query="personQuery"
                                    v-model="columnSearch.receiver"
                                ></multiselect-remote>
                            </div>
                        </th>
                        <th>
                            <div class="corr-table__sort" @click="setSort('receiver_location')">
                                <i class="fa fa-sort" :class="{ hidden: sort.by=='receiver_location' }"></i>
                                <i class="fa fa-sort-desc" :class="{ hidden: sort.by!='receiver_location' || sort.way.value!='desc' }"></i>
                                <i class="fa fa-sort-asc" :class="{ hidden: sort.by!='receiver_location' || sort.way.value!='asc' }"></i>
                            </div>
                            <div class="corr-table__col-title">Receiver location</div>
                            <div class="corr-table__col-search">
                                <select-remote
                                    :query="locationQuery"
                                    v-model="columnSearch.receiver_location"
                                ></select-remote>
                            </div>
                        </th>
                        <th>
                            <div class="corr-table__col-title">Sender</div>
                            <div class="corr-table__col-search">
                                <multiselect-remote
                                    :query="personQuery"
                                    v-model="columnSearch.sender"
                                ></multiselect-remote>
                            </div>
                        </th>
                        <th>
                            <div class="corr-table__sort" @click="setSort('sender_location')">
                                <i class="fa fa-sort" :class="{ hidden: sort.by=='sender_location' }"></i>
                                <i class="fa fa-sort-desc" :class="{ hidden: sort.by!='sender_location' || sort.way.value!='desc' }"></i>
                                <i class="fa fa-sort-asc" :class="{ hidden: sort.by!='sender_location' || sort.way.value!='asc' }"></i>
                            </div>
                            <div class="corr-table__col-title">Sender location</div>
                            <div class="corr-table__col-search">
                                <select-remote
                                    :query="locationQuery"
                                    v-model="columnSearch.sender_location"
                                ></select-remote>
                            </div>
                        </th>
                        <!-- For now need to show only public(later will fixed for autorized) -->
                        <th>
                            <div class="corr-table__sort" @click="setSort('public')">
                                <i class="fa fa-sort" :class="{ hidden: sort.by=='public' }"></i>
                                <i class="fa fa-sort-desc" :class="{ hidden: sort.by!='public' || sort.way.value!='desc' }"></i>
                                <i class="fa fa-sort-asc" :class="{ hidden: sort.by!='public' || sort.way.value!='asc' }"></i>
                            </div>
                            <div class="corr-table__col-title">Is public</div>
                            <div class="corr-table__col-search">
                                <select class="form-control" v-model="columnSearch.public">
                                    <option :value="null">Any</option>
                                    <option :value="true">Yes</option>
                                    <option :value="false">No</option>
                                </select>
                            </div>
                        </th>
                        <th>
                            <div class="corr-table__sort" @click="setSort('type')">
                                <i class="fa fa-sort" :class="{ hidden: sort.by=='type' }"></i>
                                <i class="fa fa-sort-desc" :class="{ hidden: sort.by!='type' || sort.way.value!='desc' }"></i>
                                <i class="fa fa-sort-asc" :class="{ hidden: sort.by!='type' || sort.way.value!='asc' }"></i>
                            </div>
                            <div class="corr-table__col-title">Type</div>
                            <div class="corr-table__col-search">
                                <select class="form-control" v-model="columnSearch.type">
                                    <option v-for="item in corrTypes" :value="item.val">{{ item.text }}</option>
                                </select>
                            </div>
                        </th>
                        <th>
                            <div class="corr-table__sort" @click="setSort('letterhead')">
                                <i class="fa fa-sort" :class="{ hidden: sort.by=='letterhead' }"></i>
                                <i class="fa fa-sort-desc" :class="{ hidden: sort.by!='letterhead' || sort.way.value!='desc' }"></i>
                                <i class="fa fa-sort-asc" :class="{ hidden: sort.by!='letterhead' || sort.way.value!='asc' }"></i>
                            </div>
                            <div class="corr-table__col-title">Letterhead</div>
                            <div class="corr-table__col-search">
                                <select class="form-control" v-model="columnSearch.letterhead">
                                    <option :value="null">Any</option>
                                    <option :value="true">Yes</option>
                                    <option :value="false">No</option>
                                </select>
                            </div>
                        </th>
                        <th>
                            <div class="corr-table__sort" @click="setSort('handwritten')">
                                <i class="fa fa-sort" :class="{ hidden: sort.by=='handwritten' }"></i>
                                <i class="fa fa-sort-desc" :class="{ hidden: sort.by!='handwritten' || sort.way.value!='desc' }"></i>
                                <i class="fa fa-sort-asc" :class="{ hidden: sort.by!='handwritten' || sort.way.value!='asc' }"></i>
                            </div>
                            <div class="corr-table__col-title">Handwritten</div>
                            <div class="corr-table__col-search">
                                <select class="form-control" v-model="columnSearch.handwritten">
                                    <option :value="null">Any</option>
                                    <option :value="true">Yes</option>
                                    <option :value="false">No</option>
                                </select>
                            </div>
                        </th>
                        <th>
                            <div class="corr-table__sort" @click="setSort('typewritten')">
                                <i class="fa fa-sort" :class="{ hidden: sort.by=='typewritten' }"></i>
                                <i class="fa fa-sort-desc" :class="{ hidden: sort.by!='typewritten' || sort.way.value!='desc' }"></i>
                                <i class="fa fa-sort-asc" :class="{ hidden: sort.by!='typewritten' || sort.way.value!='asc' }"></i>
                            </div>
                            <div class="corr-table__col-title">Typewritten</div>
                            <div class="corr-table__col-search">
                                <select class="form-control" v-model="columnSearch.typewritten">
                                    <option :value="null">Any</option>
                                    <option :value="true">Yes</option>
                                    <option :value="false">No</option>
                                </select>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <div class="corr-table__pager">
            <pagination
                :total="pager.total"
                :offset="pager.offset"
                :perPage="pager.perPage"
                @page-changed="val => pager.offset = val"
            ></pagination>
        </div>
    </div>
</template>

<script>

    import 'bootstrap-datepicker'

    export default {
        data(){
            return {
                isLoading: false,
                requestId: null,
                itemsPerpage: {
                    options: [25, 50, 100, 500]
                },
                pager: {
                    total: null,
                    offset: 0,
                    perPage: 25
                },
                sort: {
                    by: null,
                    way: {
                        options: ['asc', 'desc'],
                        value: 'asc'
                    }
                },
                corrTypes: [
                    {
                        val: null,
                        text: 'Any'
                    },
                    {
                        val: 'je_white_letters',
                        text: 'je_white_letters'
                    },
                    {
                        val: 'correspondence',
                        text: 'correspondence'
                    },
                    {
                        val: 'incoming_correspondence',
                        text: 'incoming_correspondence'
                    },
                    {
                        val: 'js_white_letters',
                        text: 'js_white_letters'
                    },
                    {
                        val: 'email',
                        text: 'email'
                    },
                ],
                columnSearch: {
                    title: '', // String
                    date: {
                        start: '',
                        end: ''
                    },
                    receiver: [], // Array of Int
                    receiver_location: null, // null or Int
                    sender: [], // Array of Int
                    sender_location: null, // null or Int
                    public: true, // can be bool or null
                    type: null, // can be null or string
                    letterhead: null, // can be bool or null
                    typewritten: null, // can be bool or null
                    handwritten: null, // can be bool or null
                },
                personQuery: {
                    queryName: 'personSuggest',
                    attributeName: 'search',
                    getValName: ['id', 'title']
                },
                locationQuery: {
                    queryName: 'locationSuggest',
                    attributeName: 'search',
                    getValName: ['id', 'title']
                },
            }
        },
        methods: {
            getData: function(params){
                this.isLoading = true;
                let requestId = this.requestId = Math.random();
                this.$apollo.query({
                    query: gpl`query correspondenceList($take: Int!, $skip: Int!, $title: String, $receivers_ids: [Int], $senders_ids: [Int], $receiver_location_id: Int, $sender_location_id: Int, $correspondence_type: String, $public: Boolean, $handwritten: Boolean, $typewritten: Boolean, $letterhead: Boolean, $order_by: CorrCollectionSortFields, $order_direction: OrderDirection, $start_date: String, $end_date: String) {
                        correspondenceList(take: $take, skip: $skip, title: $title, receivers_ids: $receivers_ids, senders_ids: $senders_ids, receiver_location_id: $receiver_location_id, sender_location_id: $sender_location_id, correspondence_type: $correspondence_type, public: $public, handwritten: $handwritten, typewritten: $typewritten, letterhead: $letterhead, order_by: $order_by, order_direction: $order_direction, start_date: $start_date, end_date: $end_date) {
                            total
                            items{
                                id
                                title
                                date
                                type
                                receivers{
                                    id
                                    title
                                }
                                receiver_location{
                                    id
                                    title
                                }
                                senders{
                                    id
                                    title
                                }
                                sender_location{
                                    id
                                    title
                                }
                                is_public
                                typewritten
                                handwritten
                                letterhead
                            }
                        }
                    }`,
                    variables: {
                        take: this.pager.perPage,
                        skip: this.pager.offset,
                        title: this.columnSearch.title,
                        receivers_ids: this.toArrayInt(this.columnSearch.receiver),
                        senders_ids: this.columnSearch.sender,
                        receiver_location_id: this.columnSearch.receiver_location,
                        sender_location_id: this.columnSearch.sender_location,
                        correspondence_type: this.columnSearch.type,
                        public: this.columnSearch.public,
                        handwritten: this.columnSearch.handwritten,
                        typewritten: this.columnSearch.typewritten,
                        letterhead: this.columnSearch.letterhead,
                        start_date: this.columnSearch.date.start,
                        end_date: this.columnSearch.date.end,
                        order_by: this.sort.by,
                        order_direction: this.sort.way.value
                    }
                }).then( (response) => {
                    if(this.requestId == requestId){
                        this.isLoading = false;
                    }
                    this.buildTable(response.data.correspondenceList.items);

                    this.pager.total = response.data.correspondenceList.total;
                }, (reject) => {
                    if(this.requestId == requestId){
                        this.isLoading = false;
                    }
                    console.error('Error in correspondence table request', reject);
                });
            },
            buildTable: function(body){
                $(this.$el).find('tbody tr').remove();

                _.forEach(body, (item) => {
                    let newTableRow = '';
                    newTableRow += '<tr>';
                    newTableRow += `<td><a href="/correspondence/${item.id}">${item.title}</a></td>`;

                    newTableRow += `<td>`;
                    if(item.date == null){
                        newTableRow += '-';
                    } else {
                        newTableRow += item.date;
                    }
                    newTableRow += `</td>`;

                    newTableRow += `<td>`;
                    if(item.receivers==null || item.receivers.length == 0){
                        newTableRow += '-';
                    } else {
                        _.forEach(item.receivers, (receiverItem) => {
                            newTableRow += `<div><a href="person/${receiverItem.id}">${receiverItem.title}</a></div>`;
                        });
                    }
                    newTableRow += `</td>`;

                    if(item.receiver_location == null){
                        newTableRow += '<td>-</td>';
                    } else {
                        newTableRow += `<td>${item.receiver_location.title}</td>`;
                    }

                    newTableRow += `<td>`;
                    if(item.senders==null || item.senders.length == 0){
                        newTableRow += '-';
                    } else {
                        _.forEach(item.senders, (senderItem) => {
                            newTableRow += `<div><a href="person/${senderItem.id}">${senderItem.title}</a></div>`;
                        });
                    }
                    newTableRow += `</td>`;

                    if(item.sender_location == null){
                        newTableRow += '<td>-</td>';
                    } else {
                        newTableRow += `<td>${item.sender_location.title}</td>`;
                    }

                    newTableRow += this.createBoolTableCell(item.is_public);

                    newTableRow += `<td>${item.type}</td>`;

                    newTableRow += this.createBoolTableCell(item.letterhead);
                    newTableRow += this.createBoolTableCell(item.handwritten);
                    newTableRow += this.createBoolTableCell(item.typewritten);

                    newTableRow += `</tr>`;
                    $(this.$el).find('tbody').append(newTableRow);
                });
            },
            createBoolTableCell: function(value){
                if(value == 'true'){
                    return '<td>&#10003;</td>';
                } else if(value == 'false') {
                    return '<td>&#10005;</td>';
                } else {
                    return '<td>-</td>';
                }
            },
            setSort: function(colName){
                if(this.sort.by == colName){
                    if(this.sort.way.value == this.sort.way.options[0]){
                        this.sort.way.value = this.sort.way.options[1];
                    } else {
                        this.sort.way.value = this.sort.way.options[0];
                    };
                } else {
                    this.sort.by = colName;
                };
            },
            toArrayInt: function(arr){
                let newArr = [];
                _.forEach(arr, (item) => {
                    newArr.push(_.toInteger(item));
                });
                return newArr;
            },
            initDatepicker: function(){
                let self = this;
                $('.corr-table__date-popup input').each(function() {
                    $(this).datepicker({
                        format: 'yyyy-mm-dd',
                        startDate: self.$store.state.controllers.date.minDatetime,
                        endDate: self.$store.state.controllers.date.maxDatetime
                    });
                });
                $('.corr-table__date-popup input.date-from').on('changeDate', function() {
                    self.columnSearch.date.start = $(this).val();
                });
                $('.corr-table__date-popup input.date-to').on('changeDate', function() {
                    self.columnSearch.date.end = $(this).val();
                });

                $('.corr-table__date-shown').click(function(){
                    $('.corr-table__date-popup').toggleClass('hidden');
                });
                $(document).on('click', function(e){
                    if($(e.target).parents('.corr-table__date-popup').length == 0 &&
                        $(e.target).parents('.datepicker').length == 0 &&
                        !$(e.target).hasClass('corr-table__date-popup') &&
                        !$(e.target).hasClass('corr-table__date-shown') &&
                        $(e.target).parents('.corr-table__date-shown').length == 0){
                        $('.corr-table__date-popup').addClass('hidden');
                    }
                });
            }
        },
        watch: {
            columnSearch: {
                handler: function(){
                    this.getData();
                },
                deep: true
            },
            sort: {
                handler: function(){
                    this.getData();
                },
                deep: true
            },
            pager: {
                handler: function(){
                    this.getData();
                },
                deep: true
            },
        },
        mounted(){
            this.initDatepicker();
            this.getData();
        }
    }
</script>
