<template>
  <div class="flowpaper-viewer">
    <div class="search-viewer-btns">
      <div class="search-viewer-btns-item" title="Download" v-if="pdfUrl">
        <a :href="pdfUrl" download>
          <span class="fa fa-cloud-download"></span>
        </a>
      </div>
      <div class="search-viewer-btns-item" title="Open PDF in new tab" v-if="pdfUrl">
        <a :href="pdfUrl" target="_blank">
          <span class="fa fa-file-pdf-o"></span>
        </a>
      </div>
      <div class="search-viewer-btns-item" title="Print" v-if="pdfUrl">
        <span @click="openPrintTab(pdfUrl)">
          <span class="fa fa-print"></span>
        </span>
      </div>
    </div>

    <div class="flowpaper-wrap">
      <div :id="id" class="flowpaper_inner" style="width: 100%;"></div>
    </div>
  </div>
</template>

<script>

  // Flowpaper libs
  import '../lib/flowpaper/js/jquery.extensions.min.js'
  import '../lib/flowpaper/js/flowpaper.js'
  import '../lib/flowpaper/js/flowpaper_handlers.js'
  // import '../lib/flowpaper/js/FlowPaperViewer.js'

  export default {
    props: ['pdfPath', 'pdfUrl'],

    data() {
      return {
        viewer: {},
        requestCount: 0,
        params: {
          localeDirectory: location.origin + '/modules/flowpaper/flowpaper/locale/',
          jsDirectory: location.origin + '/modules/flowpaper/flowpaper/js/',
          cssDirectory: location.origin + '/modules/flowpaper/flowpaper/css/',
          renderingOrder: 'html5,html'
        },
        paths: {
          swf: null,
          json: null,
          png: null,
          pdf: null
        }
      }
    },
    computed: {
      id: function(val) {
        return 'flowpaper-viewer-' + val._uid
      }
    },
    methods: {
      openPrintTab: function(url){
          var w = window.open(url)
          w.print()
      },
      getPaths: function () {
        this.requestCount++
        $(this.$el).find('.flowpaper_inner').text('File is loading...')
        this.$http.post('/flowpaper/api/v1/documents/process', {
          source_file: this.pdfUrl
        }, {
          headers: {
            'X-CSRF-TOKEN': window.Laravel.csrfToken
          }
        }).then(response => {
          if (response.data.document.status == 'pending') {
            if (this.requestCount < 5) {
              $(this.$el).find('.flowpaper_inner').text('File processing is pending...')
              this.getPaths()
            } else {
              this.requestCount = 0
              this.printError('Unfortunately the pdf file hadn\'t been processed yet and is pending too long. ' +
                'It might be caused by the large files in the processing queue. ' +
                'Please try to reload the viewer a bit later. ', true)
            }
          } else if (response.data.document.status == 'ok') {
            this.requestCount = 0
            this.paths = response.data.document.patterns
            this.initViewer()
          } else if (response.data.document.status == 'unprocessed' || response.data.document.status == 'failed') {
            this.requestCount = 0
            this.printError('File cannot be proccessed. ', false)
          } else {
            this.requestCount = 0
            this.printError('Unknown error. Please try again later.', true)
          }
        }).catch(error => {
          console.error(error)
          this.printError('Error in the flowpaper viewer request. You can try to load the file again later', true)
        })
      },
      initViewer: function () {
        this.viewer = $('#' + this.id).FlowPaperViewer({
          config: {
            SwfFile: this.paths.swf,
            JSONFile: this.paths.json,
            IMGFiles: this.paths.png,
            PDFFile: this.paths.pdf,

            Scale: 0.6,
            ZoomTransition: 'easeOut',
            ZoomTime: 0.5,
            ZoomInterval: 0.1,
            FitPageOnLoad: false,
            FitWidthOnLoad: true,
            FullScreenAsMaxWindow: false,
            ProgressiveLoading: false,
            MinZoomSize: 0.2,
            MaxZoomSize: 5,
            SearchMatchAll: false,
            InitViewMode: 'Portrait',
            RenderingOrder: this.params.renderingOrder,

            jsDirectory: this.params.jsDirectory,
            cssDirectory: this.params.cssDirectory,
            localeDirectory: this.params.localeDirectory,

            key: '$47ee5411a2cb791b9eb',
            ViewModeToolsVisible: true,
            ZoomToolsVisible: true,
            NavToolsVisible: true,
            CursorToolsVisible: true,
            SearchToolsVisible: true,
            WMode : 'window',
            localeChain: 'en_US'
          }}
        )
      },
      printError: function(text, isBtn){
        var reloadBtn = '<div class="flowpaper-viewer-reload"><i class="fa fa-undo"></i> Reload</div>'

        $('.flowpaper-wrap > div').html('<div class="error">'+text+'</div>')
        console.error(text)

        if(isBtn) $('.flowpaper_inner').append(reloadBtn)
      },
    },
    mounted() {
      this.getPaths()

      this.$root.$on('searchChangeViewerSize', () => {
        setTimeout(() => {
          $(window).resize()
          $FlowPaper(this.id).fitWidth()
        }, 200)
      })

      $(document).on('click', '.flowpaper_bttnFullScreen', () => {
        setTimeout(() => {
          $(window).resize()
        }, 1000)
      })

      $(document).on('click', '.flowpaper-viewer-reload', () => {
        $('.flowpaper_inner').html('File is loading...')
        this.getPaths()
      })
    },
    watch: {
      pdfPath: function () {
        $('.flowpaper_viewer_wrap').before('<div id="' + this.id +'" style="width: 100%;"></div>')
        $('.flowpaper_viewer_wrap').remove()
        this.getPaths()
      }
    }
  }
</script>
