<template>
    <select multiple="multiple" class="form-control">
        <slot></slot>
    </select>
</template>

<script>
    import 'select2'
    
    export default {
        props: ['value','query','defaultOptions'],
        methods: {
            initSearchableSelect: function(){
                $(this.$el).select2({
                    ajax: {
                        url: window.location.origin+"/graphql",
                        dataType: 'json',
                        delay: 250,
                        data: (params) => {
                            let queryFields = '';
                            _.forEach(this.query.getValName, (field) => {
                                queryFields += field+' ';
                            });
                            return { "query": 'query{ '+this.query.queryName+'('+this.query.attributeName+':"'+params.term+'") {'+queryFields+'}}' };
                        },
                        processResults: (data, params) => {
                            let newResults=[];
                            if(params.term){
                                let keyName;
                                for(var key in data.data){
                                    keyName = key;
                                }
                                newResults = data.data[keyName].map( (item) => {
                                    if(this.query.getValName.length==1){
                                        return {
                                            id: item[this.query.getValName[0]],
                                            text: item[this.query.getValName[0]]
                                        };
                                    } else {
                                        return {
                                            id: item[this.query.getValName[0]],
                                            text: item[this.query.getValName[1]]
                                        };
                                    }
                                });
                            } else if(this.defaultOptions) {
                                newResults = this.defaultOptions.map(function (item) {
                                    return {
                                        id: item,
                                        text: item
                                    };
                                });
                            } else {
                                newResults = [];
                            }

                            return {
                                results: newResults
                            };
                        },
                        cache: true
                    },
                    closeOnSelect: false
                })
            },
        },
        mounted() {
            var vm = this;

            this.initSearchableSelect();

            $(this.$el)
                .val(vm.value)
                .trigger('change')
                // emit event on change.
                .on('change', function () {
                    vm.$emit('input', $(this).val());
                });
        },
        watch: {
            value(newVal, oldVal){
                if(_.xor(newVal, oldVal).length > 0){
                    $(this.$el).select2({ data: newVal });
                    $(this.$el).val(newVal).trigger('change');
                    this.initSearchableSelect();
                }
            },
        },
        destroyed: function () {
            $(this.$el).off().select2('destroy')
        }
    }
</script>
