<template>
    <nav class="pagination-wrap">
        <ul class="pagination" v-if="(totalPages > 1) && !typingPagerShown">
            <li class="pagination__left" v-if="!offPrevNext && hasPrev()" :class="{ disabled: !hasPrev() }">
                <a href="#" @click.prevent="changePage(prevPage)" >Prev</a>
            </li>
           
            <li v-if="hasFirst()"><a href="#" @click.prevent="changePage(1)">1</a></li>

            <li v-if="hasFirst()"><span>...</span></li>

            <li v-for="page in pages">
                <a href="#" @click.prevent="changePage(page)" :class="{ active: currentPage == page }">
                    {{ page }}
                </a>
            </li>

            <li v-if="hasLast()"><span>...</span></li>

            <li v-if="hasLast()"><a href="#" @click.prevent="changePage(totalPages)">{{ totalPages }}</a></li>
                
            <li class="pagination__right" v-if="!offPrevNext">
                <a href="#" v-if="hasNext()" @click.prevent="changePage(nextPage)">Next</a>
            </li>

            <li class="pagination__right pagination__to-page" @click="toggleTypingPager" v-if="!offPrevNext">
                <a href="#">To page</a>
            </li>
        </ul>

        <div class="pagination-typing" :class="{ error: typingPagerError, hidden: !typingPagerShown }">
            <div class="input-group">
                <span class="input-group-addon" @click="toggleTypingPager">
                    <span class="fa fa-arrow-left"></span>
                </span>
                <input type="text" class="form-control" placeholder="Type page number" v-model="pageInput">
                <span class="input-group-addon" @click="openTypingPage">GO</span>

                <div class="pagination-typing-error-msg">{{ typingPagerErrorMsg }}</div>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        data: function () {
            return {
                pageInput: 1,
                typingPagerShown: false,
                typingPagerError: false,
                typingPagerErrorMsg: '',
            }
        },
        props: {
            total: {
                type: Number,
                default: 0
            },
            perPage: {
                default: 25
            },
            pageRange: {
                type: Number,
                default: 3
            },
            maxPages: {
                type: Number,
                default: 0
            },
            offset: {
                type: Number,
                default: 0
            },
            offPrevNext: {
                type: Boolean,
                default: false
            }
        },
        mounted() {
            $('.pagination-typing input').keypress( (e) => {
                if (e.keyCode == 13) {
                    this.openTypingPage();
                }
            });
            $(document).on('click', '.pagination__to-page > a', function(event) {
                event.preventDefault();
            });
        },
        computed: {
            currentPage: function(){
                return this.offset/this.perPage + 1;
            },
            pages: function() {
                var pages = []

                for(var i = this.rangeStart; i <= this.rangeEnd; i++) {
                    pages.push(i)
                }

                return pages
            },
            rangeStart: function() {
                var start = this.currentPage - this.pageRange

                return (start > 0) ? start : 1
            },
            rangeEnd: function() {
                var end = this.currentPage + this.pageRange

                return (end < this.totalPages) ? end : this.totalPages
            },
            totalPages: function() {
                var pageAmount = Math.ceil(this.total/this.perPage);

                if(this.maxPages != 0 && pageAmount > this.maxPages){
                    return this.maxPages;
                } else {
                    return pageAmount;
                }
            },
            nextPage: function() {
                return this.currentPage + 1
            },
            prevPage: function() {
                return this.currentPage - 1
            }
        },
        methods: {
            toggleTypingPager: function(){
                this.typingPagerShown = !this.typingPagerShown;
                this.pageInput = this.currentPage;
                this.typingPagerError = false;
                this.typingPagerErrorMsg = '';
            },
            openTypingPage: function () {
                var pageNum = +this.pageInput;

                if(isNaN(pageNum)){
                    this.typingPagerError = true;
                    this.typingPagerErrorMsg = 'Type correct number';
                } else if(pageNum > this.totalPages || pageNum < 1){
                    this.typingPagerError = true;
                    this.typingPagerErrorMsg = 'The page range is from 1 to '+this.totalPages;
                } else {
                    this.changePage(pageNum);
                    this.typingPagerShown = false;
                    this.typingPagerError = false;
                    this.typingPagerErrorMsg = '';
                }
            },
            hasFirst: function() {
                return this.rangeStart !== 1
            },
            hasLast: function() {
                return this.rangeEnd < this.totalPages
            },
            hasPrev: function() {
                return this.currentPage > 1
            },
            hasNext: function() {
                return this.currentPage < this.totalPages
            },
            changePage: function(page) {
                let newOffset = (page-1)*this.perPage;
                this.pageInput = page;
                this.$emit('page-changed', newOffset)
            }
        }      
    }
</script>