<template>
    <div class="">
        <div v-html="news.body" v-if="news && news.body" class="content"></div>
    </div>
</template>

<script>
    const news = gpl`query news($id: Int!) {
        news(id: $id) {
            title
            thumbnail
            body
        }
    }`;

    export default {
        apollo: {
            news: {
                query: news,
                variables() {
                    return {
                        id: this.newsId
                    }
                }
            },
        },
        props: {
            item: {},
            item_id: {},
        },
        data() {
            return {
                
            };
        },
        computed: {
            newsId: function(){
                if(this.item) {
                    return this.item._id;
                } else if(this.item_id){
                    return this.item_id;
                } else {
                    return null;
                }
            },
        },

    }
</script>