<template>
    <div class="search-viewer-image">
        <div v-html="mediaImage.body" v-if="mediaImage && mediaImage.body"></div>
        <div v-if="mediaImage && mediaImage.date">Date: {{ mediaImage.date }}</div>

        <image-viewer :image-path="mediaImage.mediaFile.public_url" v-if="mediaImage && mediaImage.mediaFile.public_url"></image-viewer>
    </div>
</template>

<script>
    const mediaImage = gpl`query mediaImage($id: Int!) {
        mediaImage(id: $id) {
            title
            body
            date
            mediaFile{
                name
                public_path
                server_path
                public_url
            }
            more_from_gallery{
                id
                title
                thumbnail
            }
        }
    }`;

    export default {
        apollo: {
            mediaImage: {
                query: mediaImage,
                variables() {
                    return {
                        id: this.item._id
                    }
                }
            }
        },
        props: {
            item: {},            
        },
        methods: {
            windowResize: _.debounce(function () { 
                $(window).resize();
            }, 100)
        },
        mounted() {
            this.$root.$on('searchChangeViewerSize', () => {
                this.windowResize();
            });

            // Create custom scrollbars
            $(document).ready(function() {
                $('.search-viewer-image-metadata').mCustomScrollbar({
                    theme: 'dark',
                    scrollInertia: 200,
                    mouseWheelPixels: 100
                });
            });

            // Open particulat page when user click on the page
            var mouseDownPosition;
            $(document).on('mousedown', '.iv-large-image', (event) => {
                mouseDownPosition = {
                    clientX: event.clientX,
                    clientY: event.clientY
                };
                
            });
            $(document).on('mouseup', '.iv-large-image', (event) => {
                if(mouseDownPosition.clientX==event.clientX && mouseDownPosition.clientY==event.clientY && this.item._source){
                    window.open(this.item._source.snippet.url);
                }
            });
        },
    }
</script>