<template>
    <div class="search-viewer__doc">
        <div v-if="entityData.date" class="content"><strong>Date:</strong> {{ entityData.date }}</div>
        <div v-html="entityData.body" v-if="entityData.body" class="content"></div>
        <div v-html="entityData.text" v-if="entityData.text" class="content"></div>

        <div v-if="entityData.mediaFile && entityData.mediaFile.public_url" class="search-doc__viewer">
            <div v-if="getExtension(entityData.mediaFile.server_path) == 'doc' || getExtension(entityData.mediaFile.server_path) == 'docx' || getExtension(entityData.mediaFile.server_path) == 'xls'|| getExtension(entityData.mediaFile.server_path) == 'xlsx'">
                <div class="search-viewer-btns">
                    <div class="search-viewer-btns-item" title="Download">
                        <a :href="entityData.mediaFile.public_url" download>
                            <span class="fa fa-cloud-download"></span>
                        </a>
                    </div>
                </div>
                <iframe class="doc-viewer" :src="'https://docs.google.com/gview?url='+entityData.mediaFile.public_url+'&embedded=true'"></iframe>
            </div>
            <div v-else-if="getExtension(entityData.mediaFile.server_path) == 'pdf'">
                <flowpaper-viewer
                    :pdf-path="entityData.mediaFile.server_path"
                    :pdf-url="entityData.mediaFile.public_url"
                ></flowpaper-viewer>
            </div>
            <div v-else>
                <p>The {{ getExtension(entityData.doc_path) }} extension can't be watched here, but you can download it:</p>
                <a :href="entityData.mediaFile.public_url">Download {{ getExtension(entityData.doc_path) }} file</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: {}
        },
        data() {
            return {
                entityData: {},
            };
        },
        methods: {
            getData: function (){
                this.$apollo.query({
                    query: gpl`query mediaDoc($id: Int!) {
                        mediaDoc(id: $id) {
                            title
                            body
                            date
                            text
                            mediaFile{
                                file_name
                                public_path
                                server_path
                                public_url
                            }
                        }
                    }`,
                    variables: {
                        id: this.item._id
                    }
                }).then( (response) => {
                    this.entityData = response.data.mediaDoc;
                }, (reject) => {
                    console.error('Error in mediaDoc request', reject);
                });
            },
            getExtension: function(fileName){
                return fileName.split(".").pop();
            },
        },
        mounted() {
            this.getData();
        },
        watch: {
            item: {
                handler: function() {
                    this.getData()
                },
                deep: true
            }
        },
    }
</script>