<template>
  <div class="row spinner-parent">
    <spinner ref="spinner" size="md" text="Loading ..."></spinner>

    <div v-if="source" class="col-12">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h1>{{ source.title }}</h1>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card-header">
          <strong>General</strong>
        </div>
        <div class="card form-horizontal">
          <div class="row">
            <div class="col-12">
              <div class="card-block">
                <div class="form-group row">
                  <label for="title" class="col-md-2">Title</label>
                  <div class="col-md-10">
                    <input
                      type="text"
                      id="title"
                      v-model="entity.title"
                      placeholder="Enter title"
                      class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="title" class="col-md-2">Date</label>
                  <div class="col-md-10">
                    <datepicker
                      v-if="entity.date"
                      v-model="entity.date"
                      format="dd/MM/yyyy"
                    ></datepicker>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group row">
                      <label for="body" class="col-md-2 form-control-label">Body</label>
                      <div class="col-md-10">
                        <ckeditor v-model="entity.body" id="body"></ckeditor>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!--/.row-->
</template>

<script>

  import gql from 'graphql-tag'
  import _ from 'lodash'

  export default {
    name: 'publication_edit',
    data () {
      return {
        source: null,
        entity: {}
      }
    },
    methods: {
      getSourceData: function () {
        if (this.$refs.spinner) { this.$refs.spinner.show() }
        this.$apollo.query({
          query: gql`query publication($id: Int!) {
            publication(id: $id) {
              id
              title
              body
              date
            }
          }`,
          variables: {
            id: this.$route.params.id
          }
        }).then((response) => {
          this.source = response.data.publication
          this.entity = _.cloneDeep(response.data.publication)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        }, (reject) => {
          console.error(reject)
          if (this.$refs.spinner) { this.$refs.spinner.hide() }
        })
      }
    },
    mounted () {
      this.getSourceData()
    }
  }
</script>
